// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p
{
	margin:0px;
	paddin:0px;
}
.band_info
{
	border: 1px dotted black;
	float:left;
	width:24%;
	background-color:#E0E0E0;
}

.posts
{
  float:left;
  width:75%;
}

.post_divs
{
	border: 1px dotted black;
	border-collapse:collapse;
	margin-bottom: 14px;
    margin-left: 10px;
	padding:15px;
}

.timestamp
{
	font-size:10px;
	color:grey;
}

.main_div
{
	overflow:auto;
	width:100%;
}
