html, body
{
	background: #dddddd;
	height:100%;
	margin:0;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.pagination
{
	color: #dddddd;
}

#bandInfos
{
	float:left;
	background-color: #00CCFF;
	color:white;
	width:260px;
	margin-top:10px;
	margin-right:10px;
	padding: 10px;
	font-size:0.6em;
}

#posts
{
	float:left;
	margin:10px;
	width:610px;
}

#bandpresentation
{
	width:100%;
	margin-top: 16px;
}

#bandAvatar
{
	float:left;
	width:128px;
	margin: 0 auto;
}

.famous_songs
{
	float:left;
	margin-left:20px;
	width:755px;
    background-color: #00CCFF;
    border: 1px dotted white;
    color: white;
    font-size: 0.7em;
    padding: 8px;
}

#main_container a
{
	color:#dddddd;
	font-weight:bold;
}

#whatsuptextarea
{
	color:#00CCFF;
	font-weight:bold;
}

#whatsup
{
	display:block;
	color:white;
	background-color:#00CCFF;
	padding:15px;
	margin-bottom:10px;
}

form#new_post.new_post
{
	display:inline;
}

.round
{
	margin:4px;
}

table.profile tbody tr td.sidebar
{
	vertical-align:top;
}

#copyrights
{
	font-weight:bold;
	margin: auto;
	width:305px;
	color: #aaaaaa;
	font-size:0.6em;
}
.sidebar
{
	width: 200px;
}
.timestamp {
  display: block;
  font-size: 0.6em;
  color: #DDD;
  margin-bottom: 15px;
}

.post
{
	padding: 18px;
}

td.main
{
	padding:0px;
}

table.posts
{
	margin-bottom: 0px;
}

#main_container
{
    margin: 0 auto;
    width: 950px;
	background-color:white;
	padding: 16px;
	min-height: 100%;
	padding-top:35px;
	color:#00ccff;
}

#header
{
	background-image:url('toolbar_bg.jpg');
	background-repeat:repeat-x;
    color: #FFFFFF;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}

#header a
{
    color: #FFFFFF;
}

img
{
  vertical-align: middle;
}