html, body
{
	background: #dddddd;
	height:100%;
	margin:0;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.famous_songs
{
    background-color: #00CCFF;
    border: 1px dotted white;
    color: white;
    font-size: 0.7em;
    padding: 8px;
}

.round
{
	margin:4px;
}

table.profile tbody tr td.sidebar
{
	vertical-align:top;
}

#copyrights
{
	font-weight:bold;
	margin: auto;
	width:305px;
	color: #aaaaaa;
	font-size:0.6em;
}
.sidebar
{
	width: 200px;
}
.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
  font-style:italic;
}

.post
{
	padding: 18px;
}

td.main
{
	padding:0px;
}

table.posts
{
	margin-bottom: 0px;
}

#main_container
{
    margin: 0 auto;
    width: 950px;
	background-color:white;
	padding: 16px;
	min-height: 100%;
	padding-top:35px;
	color:#00ccff;
}

#header
{
	background-image:url('toolbar_bg.jpg');
	background-repeat:repeat-x;
    color: #FFFFFF;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}

#header a
{
    color: #FFFFFF;
}

img
{
  vertical-align: middle;
}

nav {
  background-color: white;
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

div.field, div.actions {
  margin-bottom: 10px;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

h1.userpost {
  margin-bottom: 0.3em;
}

table.userposts {
  margin-top: 1em;
}

table.userposts tr {
  height: 70px;
}

table.userposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.userposts tr td.userpost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}



div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}